* {
    font-family: 'Staatliches', cursive;
}
.search-column{
    background-color: none;
}

.list-group-item{
    line-height: 2;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 1px;
    background-color:firebrick;
    color:white;
    border: solid black;
}

span.moderate{
    padding: 1px;
    background-color:gold;
    border: solid black;
}

span.favorable{
    padding: 1px;
    background-color:forestgreen;
    color:white;
    border: solid black;
}